finufft_type1
finufft_type1_64
finufft_type2
finufft_type2_64
cufinufft_type1
cufinufft_type1_64
cufinufft_type2
cufinufft_type2_64
cunfft_type1
cunfft_type1_64
cunfft_type2
cunfft_type2_64
finufft_write_truesol
*.o
*.bin
*.dat
*.txt
*.log
